/* ------------------------------------------------------------------- General */

body {
    background-color: #212121;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

/* ------------------------------------------------------------------- header */

header {
    background-color: #212121;
    color: rgba(231, 231, 231, 0.5);
    min-height: 120px;
}

#navbarNavDropdown .navbar-nav .nav-item {
    font-size: 20px;
    font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(231, 231, 231, 0.9);
}

.navbar-dark .navbar-nav .active>.nav-link {
    color: #DE7D48;
    text-decoration: underline;
}

#navbarNavDropdown .navbar-nav .nav-item a:hover {
    color: #DE7D48;
    text-decoration: underline;
}

/* ------------------------------------------------------------------- footer */

footer {
    background-color: #212121;
    color: rgba(231, 231, 231, 0.5);
    min-height: 60px;
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.footer-text i {
    margin-top: 20px;
    color: rgba(231, 231, 231, 0.5)
}


.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50px;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #e7e7e7;
    background: #9f9f9b;

    transition: all 0.35s ease-in-out;
    /* always put transition in the parent element */
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #DE7D48;
}

#footer-details {
    padding: 20px;
}

#footer-sub-details {
    padding: 20px 20px 20px 0;
}

/* --------------------------------------------------------------- hero image */

#hero-image {
    object-fit: cover;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    #hero-image {
        object-position: 70% center;
    }
}

/* --------------------------------------------------------------- Callout */

.callout-section {
    margin: 20px 0;
}

.callout-section h3 {
    margin: 7px;
    color: rgba(231, 231, 231, 0.9);
    font-weight: 400;
}

.callout {
    margin-top: 10px;
    margin-bottom: 10px;
}

.join-us {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    border: none;
}

.btn-light {
    background-color: #DE7D48;
    color: #212121;
}

.btn:hover {
    background-color: #ab3a3a;
}

/* --------------------------------------------------------------- Reasons */

.container-sm {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #9f9f9b;
}

.reasons-container {
    border: 5px solid #DE7D48;
    border-radius: 0.25rem;
}

.reasons-section-margin {
    margin-bottom: 20px;
}

.icons-styles {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 26px;
}

.reasons {
    color: #212121;
    text-align: justify;
    padding: 10px;
}

/* ------------------------------------------------------------ Video Seciton */

.free-runners {
    margin: 20px 0 30px 0;
    color: rgba(231, 231, 231, 0.9);
}

/* ------------------------------------------------------------------ Reviews */

.rating {
    color: rgba(231, 231, 231, 0.9);
    margin: 0 0 30px 0;
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

.review-text {
    font-size: 16px;
}

/* ------------------------------------------------------------------ Classes */
/* --------- Flip Card Code From: W3SCHOOLS - amended to be round */

.flip-card {
    height: 200px;
    width: 200px;
    background-color: transparent;
    perspective: 1000px;
    border: 4px solid #9f9f9b;
    border-radius: 50%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(33, 33, 33, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibiliy: hidden;
    -moz-backface-visibiliy: hidden;
    -o-backface-visibiliy: hidden;
    /* Safari */
    backface-visibility: hidden;


}

.flip-card-front {
    background-color: transparent;
    color: #9f9f9b;
}

.flip-card-back {
    border-radius: 50%;
    background-color: rgba(159, 159, 155, 0.7);
    color: #212121;
    transform: rotateY(180deg);
}

.flip-card-back-text {
    margin-top: 50px;
    margin-bottom: 10px;
}

.flip-card-back-text hr,.flip-card-back-text p,.flip-card-back-text p strong {
    margin: 10px;
}

.flip-card-back-text hr {
    border: none;
    height: 2px;
    background: #212121;
    width: 50%;
    margin: auto;
}

.classes {
    color:rgba(231, 231, 231, 0.9);
    margin-top: 20px;
}

.classes-text-color {
    color: rgba(231, 231, 231, 0.7);
}

/* -------------------------------------------------------------------- Plans */

.plans-card {
    padding: 0px 20px;
}

.sub-card {
    padding: 50px;
}

.plans-bg-color {
    background-color: #212121;
}

.plans-bg-color:hover {
    background-color: rgba(159, 159, 155, 0.2);
}

.plan-border {
    border: 3px solid #DE7D48;
}

.plans-text-color {
    color: rgba(231, 231, 231, 0.9);
}

/* ------------------------------------------------------------------ Gallery */

.gallery-head {
    margin-bottom: 20px;
}

.gallery-text {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: rgba(231, 231, 231, 0.9);
}

.photo-grid {
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

.photo-grid img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .photo-grid {
        column-count: 3;
    }
}

@media screen and (max-width: 576px) {
    .photo-grid {
        column-count: 2;
    }
}

/* ------------------------------------------------------------- Contact Form */

.bg-space {
    margin-bottom: 200px;
}

.contact {
    position: relative;
}

.contact-form {
    margin-top: 150px;
    font-weight: 400;
    color: rgba(231, 231, 231, 0.9);
    background-color: hsla(21, 69.4%, 57.6%, 0.45);
    position: absolute;
    width: 60%;
/* -------------- Code Snippet from Manisha Basra - https: //medium.com/front-end-weekly/absolute-centering-in-css-ea3a9d0ad72e */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
/* ------------- End of Code Snippet from Code from Manisha Basra */
}

.contact-form-darken {
    background-color: rgba(33, 33, 33, 0.2);
    padding: 25px 40px 40px 40px;
}

.text-input {
    background: rgba(231, 231, 231, 0.3);
    color: rgba(231, 231, 231, 0.9);
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
}

.textarea-input {
    background: rgba(231, 231, 231, 0.3);
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    width: 100%
}

::placeholder {
    font-weight: 300;
    font-style: italic;
    color: #212121;
    opacity: 0.8;
    /* Firefox */
}

.contact-button {
    margin-top: 20px;
}

.contact-button:hover {
    background-color: #e7e7e7;
}

@media screen and (max-width: 576px) {
    .signup-form {
            width: 100%;
    }
}

/* ----------------------------------------------------------- Contact Info   */

.contact-info-section {
    max-width:80%;
    border: 5px solid rgba(222, 125, 72, 0.3);
    border-radius: 0.25rem;
    margin-bottom: 20px;
    background-color: #9f9f9b;
}

.contact-info-section h3 {
    margin: 0;
}

.contact-info {
    margin-bottom: 30px;
}

.contact-info-item div p {
    font-weight: 400;
    margin: 0;
}

.contact-image {
    height: 160px;
}

@media screen and (max-width: 576px) {
    .contact-info-section {
            max-width: 100%;
    }
}

/* ----------------------------------------------------------  General Styles */

.active {
    color: #DE7D48;
}

.reasons-headings {
    font-weight: 500;
}
.subheading-margins {
    margin: 20px 0 30px 0;
}

.text-margins {
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-change-hr {
    border: none;
    height: 2px;
    background: rgba(231, 231, 231, 0.9);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 7px;
}

.section-change-hr-small {
    border: none;
    height: 2px;
    background: rgba(231, 231, 231, 0.9);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    margin-bottom: 7px;
}

.button-style-hr {
    border: none;
    height: 2px;
    background: rgba(231, 231, 231, 0.9);
    width: 100%;
    margin-top: 50px;
}