/* ------------------------------------------------------------------- General */

body {
    background-color: #212121;
}

/* ------------------------------------------------------------------- header */

header {
    background-color: #212121;
    color: rgba(231, 231, 231, 0.5);
    min-height: 120px;
}

#navbarNavDropdown .navbar-nav .nav-item .nav-item-color {
    color: #e7e7e7;
}

#navbarNavDropdown .navbar-nav .nav-item .nav-item-color:hover {
    color: #DE7D48;
    text-decoration: underline;
}

/* ------------------------------------------------------------------- footer */

footer {
    background-color: #212121;
    color: rgba(231, 231, 231, 0.5);
    min-height: 60px;
    margin: 0;
}

.inline-block {
    display: inline-block;
}

.footer-text i {
    margin-top: 20px;
    color: rgba(231, 231, 231, 0.5)
}


.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50px;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #e7e7e7;
    background: #9f9f9b;

    transition: all 0.35s ease-in-out;
    /* always put transition in the parent element */
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ab3a3a;
}

#footer-details {
    padding: 20px;
}

#footer-sub-details {
    padding: 20px 20px 20px 0;
}

/* --------------------------------------------------------------- hero image */

#hero-image {
    object-fit: cover;
    height: 600px;
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    #hero-image {
        object-position: 70% center;
    }
}

/* --------------------------------------------------------------- Callout */

.callout-section {
    margin: 20px 0;
}

h3 {
    margin: 0;
    color: #e7e7e7
}

.callout {
    margin-top: 10px;
    margin-bottom: 10px;
}

.join-us {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    border: none;
}

.btn-light {
    background-color: #DE7D48;
    color: #212121;
}

.btn:hover {
    background-color: #ab3a3a;
}

/* --------------------------------------------------------------- Reasons */

.container-sm {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #9f9f9b;
}

.reasons-container {
    border: 5px solid #DE7D48;
    border-radius: 0.25rem;
}

.icons-styles {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 26px;
}

.reasons {
    color: #212121;
}

/* ------------------------------------------------------------ Video Seciton */

.free-runners {
    margin: 20px 0 30px 0;
}

/* ------------------------------------------------------------------ Reviews */

.rating {
    color: #e7e7e7;
    margin: 0 0 30px 0;
    font-weight: 300;
}

.review-text {
    font-size: 16px;
}

/* ----------------------- Classes- CODE FROM W3SCHOOLS - amended to be round */

.flip-card {
    height: 200px;
    width: 200px;
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(33, 33, 33, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: transparent;
    color: #9f9f9b;
}

.flip-card-back {
    border-radius: 50%;
    background-color: #9f9f9b;
    color: #212121;
    transform: rotateY(180deg);
}

.flip-card-back-text {
    margin-top: 50px;
    margin-bottom: 10px;
}

.flip-card-back-text hr,p,strong {
    margin: 10px;
}

.flip-card-back-text hr {
    border: none;
    height: 2px;
    background: #212121;
    width: 50%;
    margin: auto;
}

.classes-text-color {
    color: #9f9f9b;
}

/* -------------------------------------------------------------------- Plans */

.plans-card {
    padding: 0px 20px;
}

.sub-card {
    padding: 50px;
}

.plans-bg-color {
    background-color: #212121;
}

.plans-bg-color:hover {
    background-color: rgba(159, 159, 155, 0.2);
}

.plan-border {
    border: 3px solid #DE7D48;
}

.plans-text-color {
    color: #e7e7e7;
}

/* ------------------------------------------------------------------ Gallery */

.photo-grid {
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

.photo-grid img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .photo-grid {
        column-count: 3;
    }
}

@media screen and (max-width: 576px) {
    .photo-grid {
        column-count: 2;
    }
}

/* ----------------------------------------------------- margins and Paddings */

.subheading-margins {
    margin: 20px 0 30px 0;
}

.text-margins {
    margin-top: 10px;
    margin-bottom: 10px;
}

